* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
}

.h1 {
    font-size: 48px;
    text-align: center;
    padding-top: 100px;
}

.t1 {
    font-size: 36px;
    text-align: center;
}

.valid {
    border: solid blue 2px;
    border-radius: 35px;
    
}

.invalid {
    border: solid red 2px;
    border-radius: 35px;
}

.default {
    width: 60%;
    height: 90px;
    outline: none;
    transition: 400ms;
    padding: 10px;
    padding-left: 30px;
    font-size: 20px;
    margin-top: 10px;
}

.wrapper-of-examples {
    padding-top: 125px;
    padding-bottom: 150px;
}

.grid-box {
    padding-top: 125px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    row-gap: 40px;
}

.btn {
    width: 185px;
    padding: 5px;
    font-size: 20px;
    background-color: white;
    color: black;
    transition: 400ms;
    margin-top: 30px;
}

.btn:hover {
    background-color: black;
    color: white;
}

.error-message {
    padding: 50px;
    font-size: 32px;
}

.default-image-styles {
    width: 300px;
    height: 300px;
    border: solid black 3px;
    font-size: 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms;
}

.default-image-styles:hover {
    background-color: gray;
}


.main-text {
    font-size: 20px;
    padding-top: 100px;
    line-height: 2;
}

.decoration {
    background-color: lightgray;
}

.df-all-center {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inline-img {
    width: 80%;
}

.pb-150 {
    padding-bottom: 150px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-10 {
    padding-top: 10px;
}

.center {
    display: flex;
    justify-content: center;
}


.dark-gray-background {
    background-color: darkgray;
}

.bruh {
    border: solid black 3px;
}